$login-background: '../images/login-photo.jpg';
$primary-font: 'Gotu', sans-serif;
$secondary-font: 'Lobster', serif;
$primary-font-color: #e9ecef;
$secondary-font-color: #F0E4C6;
$hover-color: #BAB9B6